*{
  box-sizing: border-box;
}
main{
  position: relative;
  margin: 0 auto;
  width: 1260px; 
  height: 1705px;
  margin-top: -50px;
}
nav{
  position: relative;
  z-index: 5;
  padding: 0 496px;
}
a{
  color: honeydew;
}
header{
  width: 1260px; 
  margin: 0 auto; 
  position: relative; 
  height: 380px;
    }
.photo{
  background: url('../img/background/heder.jpg') center center/ cover no-repeat;
  height: 285px;
    }
.basket{
  position: absolute; 
  z-index: 2;  
  margin: 5px; 
  left: 990px; 
  top: 90px;
    }
.greenline{
  z-index: 1; 
  width: 1260px; 
  position: absolute;
  top: 150px;
     }
.logotype{
  position: absolute; 
  z-index: 4;  
  top: 168px; 
  left: 58px;
    }
.heder_social{
  height: 150px;
  width: 250px;
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0px 0 0 1010px;
  z-index: 3;
    }
.heder_social .social{
  display: flex;
  position: absolute;
  justify-content: space-evenly;
      }
.wooden{
  margin-top: 50px;
  position: absolute;
  height: 1000px;
  width: 1260px;   
    }
.wooden .woodenboard{
  position: relative;
  margin-top: 100px;
  padding: 0  15px;
  z-index: 1;
    }
.centersite{
  height: 1700px;
  width: 1260px;
  position: absolute;
    }
.back{
  margin: 0 auto;
  position: relative;     
  width: 800px;
  height: 1700px;
  background: url('../img/background/main.jpg') center center/ cover no-repeat;
  }
.back .berries{
  position: absolute;
  width: 800px; 
  height: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: 150px;
      }
.back .Fline{
  margin: 0px 0px 70px 0px;
        }
.back .Sline{
  margin: 0px 0px 70px 0px; 
        }
.back .Tline{
  margin: 0px 0px 70px 0px;
        }
.back .Forline{
  margin: 0px 0px 70px 0px;
        }
footer{
  position: relative;  
  width: 1260px; 
  margin: 0 auto; 
  margin-top: -305px;
}
.foot .firstBox{
  color: honeydew;
  font-size: 18px;
  margin: 15px 60px 190px 250px   ;
      }
.foot .secondBox{
  color: honeydew;
  font-size: 18px;
  margin: 15px 5px 190px 5px;
      }
.foot{
  margin: 0 auto;
  display: flex;
  width: 1260px;
  height: 300px;
  background-color: grey;
  opacity: 0.75;
  z-index: 1;  
    }

